@model IEnumerable<WebDesignTest.Models.RegularMember>




@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Club Members </h2>

<p>
    @Html.ActionLink("Create New", "AddRegularMember")
</p>
<table class="table table-hover table-bordered" style="background-color:rgba(0,0,0,0.3)">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberEmail)
            </td>
            @{
                if (item.AccStatus == "Enable")
                {
                    <td class="text-success">
                        @Html.DisplayFor(modelItem => item.AccStatus)
                    </td>
                }
                else
                {
                    <td class="text-danger">
                        @Html.DisplayFor(modelItem => item.AccStatus)
                    </td>
                }
            }

            <td>
                @Html.ActionLink("Edit", "EditMemberInfo", new { id = item.ID }) |
                @Html.ActionLink("Details", "ViewMemberInfo", new { id = item.ID }) |
                @Html.ActionLink("Delete", "DeleteRegMember", new { id = item.ID })
            </td>
        </tr>
    }

</table>