@model IEnumerable<ClubMember.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Club Members </h2>


<p>
    @Html.ActionLink("Create New", "AddRegularMember")
</p>
<table class="table table-hover table-bordered" style="background-color:rgba(0,0,0,0.3)">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @{
                if (item.AccStatus == "Enable")
                {
                    <td class="text-success">
                        @Html.DisplayFor(modelItem => item.AccStatus)
                    </td>
                }
                else
                {
                    <td class="text-danger">
                        @Html.DisplayFor(modelItem => item.AccStatus)
                    </td>
                }
            }

        <td>
            <button type="button" class="btn btn-sm btn-warning">
                @Html.ActionLink("Edit", "EditMemberInfo", new { id = item.Id })
            </button>
            <button type="button" class="btn btn-sm btn-danger">
                @Html.ActionLink("Delete", "DeleteRegMember", new { id = item.Id })
            </button>
        </td>
        </tr>
    }

</table>