@model ClubMember.ViewModels.RegUsrProfileViewModel


@{
    ViewBag.Title = "ViewUserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Club Profile</h2>

<div class="card" style="width:400px; align-content:center">
    <img class="rounded-circle" src="../../Content/img_avatar1.png"  alt="Card image" style="width:50%">
    <div class="card-body">
        <h4 class="card-title">
            @Html.DisplayFor(model => model.RegUsr.FirstName) &nbsp;
            @Html.DisplayFor(model => model.RegUsr.LastName)
        </h4>
        <p class="card-text">Some example text some example text.</p>
       
    </div>
</div>

<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
   Change Picture
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Choose a picture</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input type="file" style="color:aliceblue"/>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Save</button>
            </div>

        </div>
    </div>
</div>

<div>
    <h4>@Html.DisplayFor(model => model.RegUsr.Roles)</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.RegMember.Usrid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegMember.Usrid)
        </dd>


    </dl>
</div>

